.customers(class="py-[140px]")
  .container
    .main-head.text-center.py-6.rounded-3xl
      h1.text-3xl.text-gray-500 Happy Customers
    .customers.grid.grid-cols-350(class="lg:grid-cols-350 my-[25px]")
      .box.rounded.bg-white.shadow-xl.p-5.mx-auto.opacity-0(
        class="w-[270px] my-[15px] translate-x-[-30px]",
        animates="animate-left",
        data-parralex="true"
      )
        .stars.py-3
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
        i.fa-solid.fa-quote-right.absolute.text-gray-200.fa-3x
        q.relative Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
        .person.flex.flex-row.items-center(class="py-[20px]")
          .image
            img(class="w-[50px] rounded-[50%]", src="assets/imgs/avatar-01.png")
          .text.pl-3
            h1.font-bold Coris Ambady
            p.text-gray-400.text-sm Financial Analyst
      .box.rounded.bg-white.shadow-xl.p-5.mx-auto.opacity-0(
        class="w-[270px] my-[15px] translate-y-[-30px]",
        animates="animate-down",
        data-parralex="true"
      )
        .stars.py-3
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
        i.fa-solid.fa-quote-right.absolute.text-gray-200.fa-3x
        q.relative Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
        .person.flex.flex-row.items-center(class="py-[20px]")
          .image
            img(class="w-[50px] rounded-[50%]", src="assets/imgs/avatar-02.png")
          .text.pl-3
            h1.font-bold Coris Ambady
            p.text-gray-400.text-sm Financial Analyst
      .box.rounded.bg-white.shadow-xl.p-5.mx-auto.opacity-0(
        class="w-[270px] my-[15px] translate-x-[-30px]",
        animates="animate-right",
        data-parralex="true"
      )
        .stars.py-3
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
        i.fa-solid.fa-quote-right.absolute.text-gray-200.fa-3x
        q.relative Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
        .person.flex.flex-row.items-center(class="py-[20px]")
          .image
            img(class="w-[50px] rounded-[50%]", src="assets/imgs/avatar-03.png")
          .text.pl-3
            h1.font-bold Coris Ambady
            p.text-gray-400.text-sm Financial Analyst
      .box.rounded.bg-white.shadow-xl.p-5.mx-auto.opacity-0(
        class="w-[270px] my-[15px] translate-x-[-30px]",
        animates="animate-left",
        data-parralex="true"
      )
        .stars.py-3
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
        i.fa-solid.fa-quote-right.absolute.text-gray-200.fa-3x
        q.relative Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
        .person.flex.flex-row.items-center(class="py-[20px]")
          .image
            img(class="w-[50px] rounded-[50%]", src="assets/imgs/avatar-04.png")
          .text.pl-3
            h1.font-bold Coris Ambady
            p.text-gray-400.text-sm Financial Analyst
      .box.rounded.bg-white.shadow-xl.p-5.mx-auto.opacity-0(
        class="w-[270px] my-[15px] translate-y-[-30px]",
        animates="animate-up",
        data-parralex="true"
      )
        .stars.py-3
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
        i.fa-solid.fa-quote-right.absolute.text-gray-200.fa-3x
        q.relative Lorem1 ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
        .person.flex.flex-row.items-center(class="py-[20px]")
          .image
            img(class="w-[50px] rounded-[50%]", src="assets/imgs/avatar-05.png")
          .text.pl-3
            h1.font-bold Coris Ambady
            p.text-gray-400.text-sm Financial Analyst
      .box.rounded.bg-white.shadow-xl.p-5.mx-auto.opacity-0(
        class="w-[270px] my-[15px] translate-x-[-30px]",
        animates="animate-right",
        data-parralex="true"
      )
        .stars.py-3
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
          i.fa-solid.fa-star.text-yellow-400(class="text-[10px]")
        i.fa-solid.fa-quote-right.absolute.text-gray-200.fa-3x
        q.relative Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
        .person.flex.flex-row.items-center(class="py-[20px]")
          .image
            img(class="w-[50px] rounded-[50%]", src="assets/imgs/avatar-06.png")
          .text.pl-3
            h1.font-bold Coris Ambady
            p.text-gray-400.text-sm Financial Analyst
