.desc
  .container
    .boxes.grid.grid-cols-300.gap-10.relative(class="top-[-40px] lg:top-[-100px]")
      .box.flex.flex-col.shadow-xl.justify-center.items-center.bg-white.rounded
        .head.flex.flex-col.items-center(class="py-[55px]")
          i.fa-solid.fa-crown.fa-3x
          h1.font-bold(class="pt-[10px]") Basic Plan
        .Price.flex.flex-row.relative.opacity-0(
          class="translate-y-[30px]",
          data-parralex="true",
          animates="animate-up"
        )
          i.fa-solid.fa-dollar-sign.text-2xl.absolute(class="left-[-15px]")
          h1#basic.text-6xl 9
          p#basicText.absolute.bottom-0(class="right-[-55px]") /Month
        .specs(class="py-[30px]")
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 5 Projects
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 100K API Access
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 100MB Storage
          .py-1
            i.fa-regular.fa-circle-xmark.text-green-500
            p.inline Weekly Reports
          .py-1
            i.fa-regular.fa-circle-xmark.text-green-500
            p.inline 24/7 Support
        .btn.pb-5
          button.blue-btn Choose Plan
      .box.flex.flex-col.shadow-xl.justify-center.items-center.bg-white.rounded.relative(
        class="h-[110%] top-[-30px]"
      )
        .head.flex.flex-col.items-center(class="py-[55px]")
          i.fa-solid.fa-crown.fa-3x
          h1.font-bold(class="pt-[10px]") Premium Plan
        .Price.flex.flex-row.relative.opacity-0(
          class="translate-y-[30px]",
          data-parralex="true",
          animates="animate-up"
        )
          i.fa-solid.fa-dollar-sign.text-2xl.absolute(class="left-[-15px]")
          h1#prem.text-6xl 19
          p#premText.absolute.bottom-0(class="right-[-55px]") /Month
        .specs(class="py-[30px]")
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 5 Projects
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 100K API Access
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 100MB Storage
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline Weekly Reports
          .py-1
            i.fa-regular.fa-circle-xmark.text-green-500
            p.inline 24/7 Support
        .btn.pb-5
          button.blue-btn Choose Plan
      .box.flex.flex-col.shadow-xl.justify-center.items-center.bg-white.rounded
        .head.flex.flex-col.items-center(class="py-[55px]")
          i.fa-solid.fa-crown.fa-3x
          h1.font-bold(class="pt-[10px]") Corporate Plan
        .Price.flex.flex-row.relative.opacity-0(
          class="translate-y-[30px]",
          data-parralex="true",
          animates="animate-up"
        )
          i.fa-solid.fa-dollar-sign.text-2xl.absolute(class="left-[-15px]")
          h1#corp.text-6xl 49
          p#corpText.absolute.bottom-0(class="right-[-55px]") /Month
        .specs(class="py-[30px]")
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 5 Projects
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 100K API Access
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 100MB Storage
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline Weekly Reports
          .py-1
            i.fa-regular.fa-circle-check.text-green-500
            p.inline 24/7 Support
        .btn.pb-5
          button.blue-btn Choose Plan
