.data
  .container
    .data-holder.mx-auto
      .images.relative.px-8.mx-auto(class="top-[-150px] lg:w-[90%]")
        img.mx-auto.pt-14.shadow-l.rounded.opacity-0(
          src="assets/imgs/sa1@2x.jpg",
          data-parralex="true",
          animates="animate-up",
          class="w-[900px] translate-y-[30px]"
        )
        img.absolute.shadow-xl.z-10.rounded.opacity-0(
          src="assets/imgs/sa3@2x.jpg",
          data-parralex="true",
          animates="animate-left",
          class="top-[100px] w-[100px] lg:w-[250px] left-[10px] translate-x-[-30px]"
        )
        img.absolute.shadow-xl.z-10.rounded.opacity-0(
          src="assets/imgs/sa4@2x.jpg",
          data-parralex="true",
          animates="animate-left",
          class="left-[10px] lg:left-[-10px] top-[160px] lg:top-[260px] w-[100px] lg:w-[250px] translate-x-[-30px]"
        )
        img.absolute.shadow-xl.rounded.opacity-0(
          src="assets/imgs/sa2@2x.jpg",
          data-parralex="true",
          animates="animate-right",
          class="w-[80px] top-[100px] right-[20px] lg:right-0 lg:w-[200px] lg:top-[200px] translate-x-[30px]"
        )
      .content.flex.flex-col(class="lg:flex-row lg:justify-between")
        .left
          .relative.flex.justify-between
            span.absolute.block.bg-red-100(
              class="z-[-1] w-[150px] h-[150px] top-[20%] left-[30%] lg:left-[40%]"
            )
            .flex.flex-col.items-end.pr-5
              img.rounded.shadow-xl.opacity-0(
                src="assets/imgs/sa5@2x.jpg",
                data-parralex="true",
                animates="animate-light",
                class="w-[83%] lg:w-[65%] mb-[15px]"
              )
              img.rounded.shadow-xl.opacity-0(
                src="assets/imgs/sa6@2x.jpg",
                data-parralex="true",
                animates="animate-light",
                class="w-[73%] lg:w-[65%]"
              )
            .flex.flex-col.items-start
              img.rounded.shadow-xl.opacity-0(
                src="assets/imgs/sa7@2x.jpg",
                data-parralex="true",
                animates="animate-light",
                class="delay-[1.4s] w-[83%] lg:w-[65%] mt-[10px]"
              )
              img.rounded.shadow-xl.opacity-0(
                src="assets/imgs/sa8@2x.jpg",
                data-parralex="true",
                animates="animate-light",
                class="w-[83%] lg:w-[65%] mt-[15px]"
              )
        .right.py-6
          h1.text-3xl.font-semibold.pb-4.mt-6 We have considered our solutions to support every stage of growth.
          p.text-gray-500.mt-4(class="max-w-[450px]") Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit rem asperiores porro vitae. Vitae laboriosam beatae quas aspernatur praesentium commodi dignissimos, rerum aliquid eos. Accusantium sunt animi nam nobis iste!
          .inner-data.flex.flex-col.mx-auto.mt-6(class="lg:grid lg:grid-cols-2")
            .text-data.flex.items-center.justify-start(class="pt-[15px]")
              i.fa-solid.fa-circle-check.bg-red-500.mr-2.text-red-100(
                class="text-[19px] rounded-[50%]"
              )
              p.text-gray-500.font-normal(class="text-[15px]") Lorem ipsum dolor sit amet consectetur.
            .text-data.flex.items-center.justify-start(class="pt-[15px]")
              i.fa-solid.fa-circle-check.bg-red-500.mr-2.text-red-100(
                class="text-[19px] rounded-[50%]"
              )
              p.text-gray-500.font-normal(class="text-[15px]") Lorem ipsum dolor sit amet consectetur.
            .text-data.flex.items-center.justify-start(class="pt-[15px]")
              i.fa-solid.fa-circle-check.bg-red-500.mr-2.text-red-100(
                class="text-[19px] rounded-[50%]"
              )
              p.text-gray-500.font-normal(class="text-[15px]") Lorem ipsum dolor sit amet consectetur.
            .text-data.flex.items-center.justify-start(class="pt-[15px]")
              i.fa-solid.fa-circle-check.bg-red-500.mr-2.text-red-100(
                class="text-[19px] rounded-[50%]"
              )
              p.text-gray-500.font-normal(class="text-[15px]") Lorem ipsum dolor sit amet consectetur.
