.partners
  .container.flex.flex-col
    .up.flex.flex-col(class="py-[60px] lg:flex-row")
      .left
        .images(class="lg:flex lg:flex-row")
          div(class="1 lg:pr-[25px]")
            img.rounded(
              src="imgs/g5@2x.jpg",
              data-parralex="true",
              animates="animate-light",
              class="mt-[15px] lg:pt-8 123 opacity-0.5"
            )
          div(class="2")
            img.rounded(
              src="imgs/g6@2x.jpg",
              data-parralex="true",
              animates="animate-light",
              class="mt-[15px] 123 opacity-0.3"
            )
            .customers.text-center.rounded.opacity-0(
              data-parralex="true",
              animates="animate-light",
              class="bg-[#e0e9fa] p-[50px] mt-[15px]"
            )
              h1.font-semibold.text-3xl 5000+
              p.py-4(class="text-[#60697b]") Satisfied Customers
      .right.cursor-grab
        .custl.flex.flex-row.text-center(class="lg:w-[500px]")
          .flex.flex-col.text-center.mx-6
            i.fa-solid.fa-quote-left.fa-3x(class="mt-[35px] text-[#e0e9fa]")
            q.text-gray-500.block.text-xl.text-center(class="py-[10px]") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore expedita nulla enim reiciendis doloribus, fugiat recusandae temporibus architecto quasi dicta!
            .text(class="py-[20px]")
              p.font-semibold.text-xl Paul Walker
              h1.text-gray-500 Security Analyst
          .flex.flex-col.text-center.mx-6
            i.fa-solid.fa-quote-left.fa-3x(class="mt-[35px] text-[#e0e9fa]")
            q.text-gray-500.block.text-xl.text-center(class="py-[10px]") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore expedita nulla enim reiciendis doloribus, fugiat recusandae temporibus architecto quasi dicta!
            .text(class="py-[20px]")
              p.font-semibold.text-xl Paul Walker
              h1.text-gray-500 Security Analyst
          .flex.flex-col.text-center.mx-6
            i.fa-solid.fa-quote-left.fa-3x(class="mt-[35px] text-[#e0e9fa]")
            q.text-gray-500.block.text-xl.text-center(class="py-[10px]") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore expedita nulla enim reiciendis doloribus, fugiat recusandae temporibus architecto quasi dicta!
            .text(class="py-[20px]")
              p.font-semibold.text-xl Paul Walker
              h1.text-gray-500 Security Analyst
    .down.text-center.px-6.mx-auto(class="pb-[100px] lg:py-[100px]")
      .partner.flex.flex-col(class="lg:flex-row lg:pl-[60px]")
        .flex.flex-row.items-center.justify-between(class="1")
          img.max-w-full(class="w-[200px] lg:px-[60px]", src="imgs/c1.png") 
          img.max-w-full(class="w-[200px] lg:px-[60px]", src="imgs/c2.png") 
          img.max-w-full(class="w-[200px] lg:px-[60px]", src="imgs/c3.png") 
        .flex.flex-row.items-center.justify-between(class="2 mt-[15px] lg:mt-0")
          img.max-w-full(class="w-[200px] lg:px-[60px]", src="imgs/c4.png") 
          img.max-w-full(class="w-[200px] lg:px-[60px]", src="imgs/c5.png") 
          img.max-w-full(class="w-[200px] lg:px-[60px]", src="imgs/c6.png") 
