.video-section(class="bg-[#f1f5fd] lg:mt-[130px]")
  .container.text-center.relative(class="lg:top-[-180px]")
    .video(class="py-[50px] lg:w-[60%] lg:mx-auto")
      .vid.overflow-hidden(class="rounded-[14px]")
        video.mx-auto.opacity-0(
          animates="animate-light",
          data-parralex="true",
          autoplay
        )
          source(src="assets/imgs/awesome-video.mp4", type="video/mp4")
      .dots.hidden(class="lg:block")
      .lines.hidden.right-0(class="lg:block")
      h1.font-bold.text-3xl.mx-auto.my-auto.z-10(class="text-[#343f52] lg:w-[600px]") Find out everything you need to know about creating a busniess process model
      .options.flex.flex-col.justify-center.items-center(
        class="lg:flex-row py-[20px] lg:pt-[60px]"
      )
        .box.text-center.flex.flex-col.items-center.opacity-0(
          class="pt-[20px] lg:max-w-[250px] translate-y-[30px]",
          data-parralex="true",
          animates="animate-up"
        )
          i.fa-solid.fa-key.fa-3x(class="mb-[20px]")
          h1.font-bold.text-xl(class="text-[#343f52]") 1. Secured Transactions
          p.text-gray-500(class="lg:pt-[15px]") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .box.text-center.flex.flex-col.items-center.opacity-0(
          class="pt-[20px] lg:max-w-[250px] translate-y-[30px]",
          data-parralex="true",
          animates="animate-up"
        )
          i.fa-solid.fa-key.fa-3x(class="mb-[20px]")
          h1.font-bold.text-xl(class="text-[#343f52]") 2. Budget Planning
          p.text-gray-500(class="lg:pt-[15px]") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .box.text-center.flex.flex-col.items-center.opacity-0(
          class="pt-[20px] lg:max-w-[250px] translate-y-[30px]",
          data-parralex="true",
          animates="animate-up"
        )
          i.fa-solid.fa-key.fa-3x(class="mb-[20px]")
          h1.font-bold.text-xl(class="text-[#343f52]") 3. Up to Date
          p.text-gray-500(class="lg:pt-[15px]") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
